*{
    margin: 0;
    padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    
}
header{
    background-color: rgb(14, 14, 14);
    max-width: 1440px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 57px;
}
.nav-link{
    display: flex;
    list-style: none;
    margin-right: 300px;
    box-sizing: border-box;
    border: 1px solid #E6533C;
    border-radius: 39px;
    padding: 8px .01px;
}
.nav-link a{
    text-decoration: none;
    margin-right: 47px;
    font-size: 1.125rem;
    font-weight: 400;
    color: #FFFFFF;
}
.nav-bar h3{
    margin-left: 190px;
    font-size: 2.25rem;
    font-weight: 800;
    color: #E6533C;
    font-style: italic;
}
.home a{
    background: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
}
.hero{
    max-width: 1036px;
    height: 580px;
    margin-left: 190px;
    display: flex;
}
.hero-img{
    width: 349px;
    height: 550px;
    margin-left: 220px;
}
.get{
    max-width: 599px;
    height: 439px;
    margin-top: 97px;

}
.get h1{
    margin-bottom: 28px;
    font-size: 3.85rem;
    font-weight: 800;
    line-height: 120%;
    color: #FFFFFF;
}
.get p{
    margin-bottom: 28px;
    color: #FFFFFF;
}
.btn-1{
    padding: 16px 40px;
    border-radius: 42px;
    color: #FFFFFF;
    border: none;
    background-color: #E6533C;
    margin-left: 3px;
}
.btn-2{
    padding: 16px 40px;
    border-radius: 42px;
    color: #FFFFFF;
    background-color: black;
    border: 1px solid wheat; 
}
.chance{
    max-width: 1440px;
    background-color: rgb(14, 14, 14);
}
.chance-container{
    max-width: 1044px;
    height: 540px;
    margin-left: 192px;
}
.chance-head{
    width: 671px;
    height: 120px;
    margin-left: 187px;
    padding-top: 90px;
    text-align: center;
}
.chance-head h2{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 14px;
    color: #FFFFFF;
}
.chance-head p{
    color: #FFFFFF;
}
.card-info{
    width: 231px;
    height: 274px;
    
}
.chance-card{
    display: flex;
    gap: 40px;
    text-align: center;
    margin-top: 48px;
}
.chance-card img{
    border-radius: 100px;
}
.card-info h4{
    margin-top: 15px;
    color: #FFFFFF;
}
.card-info p{
    color: #FFFFFF;
}
@media screen and (max-width: 576px) {
    .nav-link{
        display: none;
    }
    .nav-bar h3{
        margin-left: 2px;
    }
    .hero{
        display: inline;
    }
    .get {
        margin-top: 10px;
        margin-right: 280px;
        padding-right: px;
        text-align: start;
    }
    .hero-img{
        margin-left: 1px;
        margin-top: 160px;
    }

}